* {
    padding: 0px;
    margin: 0px;
    /* background-color: black; */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 30px;
    background-color: black;
}

.button-1 {
    width: 200px;
    background-color: black;
    color: #e5bf4a;
    border: 1px solid #e5bf4a;
    font-size: 15px;
    padding: 10px;
}

.button-1:active {
    background-color: white;
    color: rgb(193, 143, 224);

    text-decoration: underline;
}

.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-left: 480px;
    font-size: large;
    font-weight: bold;
    background-color: black;
    position: sticky;
}

.nav-links a {
    text-decoration: none;
    margin: 10px;
    color: white;
    background-color: black;
}

.cake-img {
    background-image: url(image/h1_hero1.jpg);
    width: 100%;
    height: 100vh;
}

.healthy-cake {
    font-family: "Poiret One", cursive;
    font-weight: lighter;
    color: white;
    margin-top: 300px;
    font-size: 50px;
    margin-left: 80px;
}

.button-2 {
    width: 200px;
    background-color: #e5bf4a;
    color: #000000;
    font-size: 15px;
    padding: 15px;
    margin-left: 80px;
    margin-top: 30px;
}

.button-2:hover {
    background-color: black;
    color: #e5bf4a;
}

.h-1 {
    text-align: center;
    font-weight: 100;
    background-color: black;
    color: white;
    font-family: "Poiret One cursive";
    padding: 70px;
    padding-top: 70px;
}

.flex_apply {
    background-color: #000000;
}

.flex-apply {
    margin-left: 150px;
    color: #e5bf4a;

}


.image-cake {
    display: flex;
    margin: 30px 150px 0px 150px;
    color: white;
}

.cake-2 {
    width: 450px;
    height: 300px;
    position: relative;
    bottom: 80px;
}

.grid-apply {
    display: flex;
    background-color: black;
    padding: 50px 50px 130px 50px;
    grid-gap: 10px;
    justify-content: space-evenly;
}

.grid-item {
    color: #e5bf4a;
    align-items: center;
}

.hh-2 {
    color: white;
    font-weight: 300px;
    font-size: 20px;
}

.video-2{
    display: flex;
    background-color: black;
}

.video-1{
    position: relative;
    width: 80%;
    right: 150px;
    padding-bottom: 100px;
}

.video-3{
    position: relative;
    left: 200px;
}

.hhh-1{
    text-align: center;
    color: white;
    background-color: black;
    font-weight: 100;
    font-family: "Poiret One";
    padding-bottom: 40px;
}

.hhh-3{
    font-weight: lighter;
    color: rgb(255, 254, 254);
    text-align: center;
    background-color: black;
    padding-bottom: 30px;
}

.container-main{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #000000;
    color: white;
    padding: 10px 80px;
    padding-bottom: 100px;
}

.container{
    border: 1px solid #e5bf4a; 
    padding: 20px;
}

.border-new{
    border-left: none;

}

.border-2{
    border-right: none;
}

.container-star{
    display: flex;
    color: yellow;
    margin: 30px 0px;
}

.container-2{
    padding-bottom: 40px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.container-3{
    display: flex;
    padding-bottom: 30px;
}

.small-1{
    position: relative;
    margin: 10px 0px 0px 10px;
    text-align: center;
}

.blog{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 0px 30px 70px 70px;
}

.blogs{
    color: white;
    font-weight: lighter;
}

.button-3{
    width: 200px;
    background-color: #e5bf4a;;
    color: black;
    border: 1px solid #e5bf4a;
    font-size: 15px;
    padding: 20px;
}

.gridd{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #000000;
    padding-bottom: 90px;
}

.bold{
    color: #e5bf4a;
}

.bolddd{
    color: white;
}

.boldd{
    color: #e5bf4a;
    background-color: #000000;
    border: transparent;
}

.gridd-1{
    padding: 0px 10px;
}

.instagram{
    text-align: center;
    background-color: black;
}

.instagram-1{
    font-weight: lighter;
    color: white;
    padding-bottom: 20px;
}

.instagram-2{
    width: 200px;
    background-color: black;
    color: #e5bf4a;
    border: 1px solid #e5bf4a;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 90px;
}

.insta-icon{
    color: #e5bf4a;
    position: relative;
    right: 55px;
    bottom: 118px
}

.instra{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 0px 70px;
    grid-gap: 10px;
    padding-bottom: 100px;
}

.nav-linkss{
    display: flex;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-left: 480px;
    font-size: large;
    font-weight: bold;
    background-color: black;
    position: sticky;
    margin-bottom: 10px;
}


.nav-linkss a {
    text-decoration: none;
    margin: 10px;
    color: white;
    background-color: black;
    font-weight: lighter;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-linkss li{
    margin-top: 30px;
}
